---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font Share -->
     <link href="https://api.fontshare.com/v2/css?f[]=bevellier@400,500,600,700&display=swap" rel="stylesheet"> 
    <title>{title}</title>

  </head>
  <body>
    
    <!-- dynamically insert content -->
    <slot />
  
<footer>
  <p>Copyright &copy;  Department of Design. All rights reserved.</p>
</footer>

  </body>
</html>
